---
import LandingLayout from "../layouts/LandingLayout.astro"
---

<LandingLayout title="About La Groove">
  <div class="pt-16 pb-12 bg-gray-50">
    <div class="rounded bg-white shadow-lg max-w-7xl mt-12 sm:mt-24 mx-auto p-6">
      <div class="contents">
      <img src="https://lagroove.ie/wp-content/uploads/2022/05/Amy-web-200x200-1.png" class="float-right">
      <h1 class="text-xl font-semibold font-display">Amy || Vocals</h1>
      <p class="mt-6">
        <span class="font-semibold">Hey, I'm Amy.</span>
        I play Vocals.
      </p>

      <p class="mt-3">
        I do other stuff too
      </p>

      <p class="mt-3">
        My favourite songs are
      </p>
    </div>
  </div> 
    <div class="rounded bg-white shadow-lg max-w-7xl mt-12 sm:mt-24 mx-auto p-6">
      <div class="contents">
        <img src="https://lagroove.ie/wp-content/uploads/2019/05/Jamie-web-200x200.png" class="float-left">
      <h1 class="text-xl font-semibold font-display">Jamie || Guitar</h1>
      <p class="mt-6">
        <span class="font-semibold">Hey, I'm Jamie.</span>
        I play Guitar.
      </p>

      <p class="mt-3">
        I do other stuff too
      </p>

      <p class="mt-3">
        My favourite songs are
      </p>
    </div>
    </div>
    <div class="rounded bg-white shadow-lg max-w-7xl mt-12 sm:mt-24 mx-auto p-6">
      <div class="contents">
        <img src="https://lagroove.ie/wp-content/uploads/2019/05/Cormac-web-200x200.png" class="float-right">
      <h1 class="text-xl font-semibold font-display">Cormac || Cajon</h1>
      <p class="mt-6">
        <span class="font-semibold">Hey, I'm Cormac.</span>
        I play Cajon.
      </p>

      <p class="mt-3">
        I do other stuff too
      </p>

      <p class="mt-3">
        My favourite songs are
      </p>
    </div>
  </div>
  </div>
</LandingLayout>